* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
body {
  background-color: rgb(23, 26, 26);
}
.bar {
  position: fixed;
  z-index: 999;
  margin: 15px;
}
.bar a {
  border: 2px solid aqua;
  padding: 0 10px;
  display: block;
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  color: aqua;
  text-decoration: none;
}
.bar a:hover {
  background-color: aqua;
  color: rgb(133, 133, 133);
}
ul {
  float: right;
  margin-top: 35px;
}
ul li {
  display: block;
}
.isi h1 {
  color: aqua;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  text-shadow: 0 0 5px aqua;
}
.isi p {
  width: 95%;
  margin: auto;
  font-size: 20px;
  color: white;
  margin-top: 20px;
  box-shadow: 0 0 10px 5px aqua;
  padding: 10px;
  letter-spacing: 2px;
  text-align: justify;
  margin-bottom: 20px;
}
